body {
    margin: 0;
    padding: 80px 40px;
    border: 0 solid rgb(0, 59, 59);
    border-top-width: 100px;
    font-family: sans-serif;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 8px;
    border-bottom: 2px solid rgba(0, 59, 59, 0.1);
}

.subtitle {
    font-style: italic;
    margin-bottom: 30px;
}

h2 {
    margin-left: 25px;
}

p {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}
